services:
  # --- CÉREBRO (N8N) ---
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n_ia
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_SECURE_COOKIE=false
    volumes:
      - n8n_data:/home/node/.n8n

  # --- WHATSAPP (Evolution API) ---
  evolution-api:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=http://localhost:8080
      - DOCKER_ENV=true
      - DATABASE_ENABLED=true
      - DATABASE_CONNECTION_URI=postgresql://user:password@postgres:5432/evolution
      - CACHE_REDIS_ENABLED=true
      - CACHE_REDIS_URI=redis://redis:6379/0
      # Senha da API (Pode mudar se quiser)
      - AUTHENTICATION_API_KEY=${Evolution_API_KEY}
    depends_on:
      - postgres
      - redis

  # --- BANCO DE DADOS ---
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=evolution
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # --- MEMÓRIA RÁPIDA ---
  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  n8n_data:
  postgres_data:
  redis_data: